<html>
  <head>
      <link rel="stylesheet" href="/css/styles.css">
      <link rel="icon" href="/images/icon.png">
      <title>404</title>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p class="error_message">{{message}}</p>
      <img src="/images/404.png" alt="" class="image_404">
    </div>  
    {{>footer}}
  </body>
</html>