<html>
  <head>
      <link rel="stylesheet" href="/css/styles.css">
      <link rel="icon" href="/images/icon.png">
      <title>About</title>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p class="about_text">This website uses data from mapbox.com and weatherstack.com.</p>
      <img src="/images/photo.jpeg" alt="" class="profile_pic">
    </div>   
    {{>footer}}
  </body>
</html>